

.detailFont {
    font-family: serif;
    font-style: oblique;
    color:gainsboro;
    font-size: 25px;
  }
  
  .descriptorText {
    color: rgb(0, 140, 255);
    font-family: serif;
    font-style: italic;
    font-size: 40px;
    font-weight: bolder;
  }
  
  .fishContainer {
    flex: 50%;
    max-width: 1000px;
    max-height: 2000px;
    margin: 10px;
    border-color:rgb(44, 85, 85);
    border-width: 10px;
    border-style: ridge;
    padding: 10px;
  }
  
  .aquarium {
    background-color:darkblue;
    background-image:url( "Imgs/coralreef.jpg" );
    
  }
  
  #mainTitle {
    font-size: 100px;
    font-family:sans-serif;
    text-align: center;
    color:darkturquoise ;
  }
  
  .fishName {
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
    font-family:cursive;
    color:darkgray;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 15px;
    
  }
  
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 500px;
    height: 500px;
    position: relative;
    float:none;
    object-fit: cover;
    margin:auto ;
    position: relative;
  }
  
  