

.detailFont {
    font-family: serif;
    font-style: oblique;
    color:gainsboro;
    font-size: 25px;
  }
  
  .descriptorText {
    color: aqua;
    font-family: serif;
    font-style: italic;
    font-size: 40px;
    font-weight: bolder;
  }
  
  .fishContainer {
    max-width: 700px;
    max-height: 2000px;
    margin: 10px;
    border-color:darkslategray;
    border-width: 10px;
    border-style: ridge;
    padding: 10px;
  }
  
  .aquarium {
    background-color:darkblue;
  }
  
  #mainTitle {
    font-size: 100px;
    font-family:sans-serif;
    text-align: center;
    color:darkturquoise ;
  }
  
  .fishName {
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
    font-family:cursive;
    color:darkgray;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    position:relative;
    column-gap: 15px;
    
  }
  
  .img {
    width: 500px;
    height: 500px;
    position: relative;
    float:none;
    object-fit: cover;
    margin:auto ;
    position: relative;
  }
  
  